body {
    color: white;
    background-color: rgb(199, 56, 56);
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
    position: relative;
    
    
 }
